.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: beige;
    display: flex;
    justify-content: space-between;
}
.active-link{
    /* background-color: #4CAF50; */
    border:2px solid #4CAF50;
}